<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="container">
                        <div class="jumbotron">
                            <h1>    Silambam    </h1>
                            <br>
                            <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0">Log In</h3>
                        </div>
                        <div >
                            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control form-control-md rounded-0" name="username"
                                        id="uname1" required="" [(ngModel)]="username">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" name="password" class="form-control form-control-md rounded-0" id="pwd1"
                                        required="" autocomplete="new-password" [(ngModel)]="password">
                                </div>
                                <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin"
                                    (click)="login()">Log In <i class="fas fa-sign-in-alt"></i></button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                        </div>
                    </div>

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->